<div class="card" style="width: 20%;">
    <div class="card-inner">
        <img class="card-img-top" src="{{this.images.0.url}}"
            onerror="this.onerror=null; this.src='/images/spotifyplaceholder.png'" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <a href="/tracks/{{this.id}}">View tracks</a>
        </div>
    </div>
</div>