<div class="card card-flow bg-light border-light" style="width: 15%;">
    <img class="beerImages " src={{this.images.url}} alt="player image">
    <div class="card-body">
        <h4 class="card-title">{{this.artists.items.name}}</h4>
        <p class="card-text text-secondary">{{this.tagline}}</p>
        <p class="card-text"><small>{{this.description}}</small></p>
    </div>
</div>